# PyCharm
.idea/
*.iml
*.ipr
*.iws
.idea_modules/
# Virtual Environment
.env/
venv/
ENV/
env/
virtualenv/
.venv/
# Игнорировать виртуальное окружение Python
env/
venv/

# Игнорировать скомпилированные Python-файлы
__pycache__/
*.pyc
*.pyo
*.pyd